.App {
  text-align: center;
}

.App-logo {
  height: 100vmin;
  pointer-events: none;
}

.App-header {
  background-color: #F9F9FA;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}